{
	"extends": "airbnb-base",
	"rules": {
		"indent": ["error", "tab", {"SwitchCase": 1}],
		"no-tabs": "off",
		"no-plusplus": "off"
	},
	"globals": {
		"document": true,
		"window": true,
		"HTMLElement": true,
		"NodeList": true,
		"describe": true,
		"test": true,
		"expect": true
	}
}
